html,body{
    width: 100%; height: 100%;
}
@include media-breakpoint-down(md) {
    body{
        font-size: 14px;
    }
}

.dim{position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 998;background: rgba(0, 0, 0, 0.65);visibility: hidden;opacity: 0;-webkit-transition: opacity 0.3s, visibility 0.3s;transition: opacity 0.3s, visibility 0.3s;}

#container-block{
    padding-bottom: 170px;padding-top: 28px;
}
.content{max-width: 920px;margin: 0 auto;}

#center-block{
    padding-top: 28px;
    .container{max-width: 570px;}
}
@include media-breakpoint-down(lg) {
    .container{max-width:100%;}
}
@include media-breakpoint-down(md) {
    #container-block{
        padding-top: 30px;padding-bottom: 70px;
    }
    .content{max-width: 100%;}

    #center-block{
        padding-top: 30px;padding-bottom: 75px;
        .container{max-width: 100%;}
    }

    .container{padding-left: 1rem;padding-right: 1rem;}
}

.logo{
    a{display: block;background: url('../images/logo.svg') 50% 50% no-repeat;background-size: contain;width: 70px;height: 41px;}
}
@include media-breakpoint-down(md) {
    .logo{
        a{width: 52px;height: 30px;}
    }
}


#header{
    height: 100px;position: relative;
    .container{display: flex;height: 100%;justify-content: space-between;padding-top: 22px;}
    .search{
        width: 294px;height: 30px;position: absolute;left: 50%;top: 37px;margin-left: -147px;
        a {width: 100%;height: 100%;display: block;color: #d3d3d3;letter-spacing: -0.6px;background: #f9f9f9; border: 1px solid #e4e4e4; border-radius: 30px; text-align: center;text-decoration: none;}
        span{display: inline-block;vertical-align: top;line-height: 25px;height: 100%;;}
        span:before{content: '';display: inline-block;vertical-align: middle;width: 14px;height: 14px;background: url("../images/search.svg") no-repeat 0 0;margin-right: 9px;margin-top: -1px;}
    }
    .menu{
        ul{display: flex;align-items: center;padding-top:19px;}
        li{
            position: relative;display: flex;align-items: center;
            a{font-size: 13px;font-weight: 400;letter-spacing: -0.23px;color: #979797;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);vertical-align: middle;}
            & + li{margin-left: 10px;padding-left: 10px;}
            & + li::before{
                content: '';display: block;width: 1px;height: 10px;background-color: #bbb;position: absolute;left: 0;top: 50%;margin-top: -5px;
            }
            &.user{
                .profile{width: 20px;height: 20px;margin-right: 5px;}
            }
        }

    }
}
@include media-breakpoint-down(md) {
    #header{
        height: 65px;border-bottom: 1px solid #eee;
        .container{padding-top: 19px;}
        .search{
            width: auto;height: 30px;position: absolute;left: auto;margin-left: 0;right: 55px;top: 22px;
            a {display: block;width: 22px;height: 22px;background: url("../images/search.svg") no-repeat 0 0; background-size: contain;border: 0; border-radius: 0; text-align: center;text-decoration: none;}
            span{display: none;}
        }
        .menu{
            position: fixed;width: 70%;height: 100%;right: 0;top: 0;z-index: 999;padding: 30px;display: block;transform: translate(100%);overflow-x: hidden;transition: all .25s .03s ease-in-out;background: #fff;
            ul{display: block;}
            li{
                a{font-size: 15px;padding: 15px;}
                & + li{margin-left: 0;padding-left: 0;border-top: 1px solid #eee;}
                & + li::before{display: none;}
                &.user{
                    margin-bottom: 10px;
                    .profile{width: 30px;height: 30px;margin-right: 0;}
                }
            }
        }
        .menu-mobile{
            position: relative;z-index: 1000;
        }
    }
}
body.no-menu #header .menu{display: none !important;}
@include media-breakpoint-down(md) {
    body.no-menu{
        #header{
            .search,
            .menu-mobile{display: none !important;}
        }
    }
}

.icon-hamburger {
    display: block;width: 21px;height: 20px;z-index: 1000;
    span {
        position: relative;display: block;width: 100%;height: 4px;border-radius: 3px;background-color: #b7b7b7;margin-top: 4px;transition: all 0.3s ease-in-out;
    }
}
html.open-mobile-menu{
    body{overflow: hidden !important;}
    .dim{opacity: 1;visibility: visible;}
    .icon-hamburger{
        span{background-color: #333;}
        .top-bun {transform: rotate(-45deg);margin-top: 12px;}
        .bottom-bun {opacity: 0;transform: rotate(45deg);}
        .meat {transform: rotate(45deg);margin-top: -4.5px;}
    }
    #header{
        .menu{
            transform: translate(0);
        }
    }
}

#footer{
    background: #f4f4f4;height: 697px;padding-top: 158px;display: none;
    .footer-logo{
        .logo{background: url('../images/logo-black.svg') no-repeat 50% 50%;background-size: contain;width: 79px;height: 48px;margin: 0 auto;}
        .sns{
            display: flex;justify-content: center;margin-top: 25px;
            [class^=icon-]{display: block;width: 26px;height: 26px;background-repeat: no-repeat;background-position: center;background-size: contain;}
            .icon-kakao{background-image: url('../images/sns-kakao-000.png');}
            .icon-blog{background-image: url('../images/sns-blog-000.png');}
            .icon-instagram{background-image: url('../images/sns-insta-000.png');}
            .icon-facebook{background-image: url('../images/sns-facebook-000.png');}
            li{margin: 0 10px;}
        }
    }
    .footer-menu{
        li{width: 212px;margin-bottom: 25px;display: inline-block;}
        a{color: #808080;}
    }
    .copyright{
        color: #808080;margin-top: 25px;
        p{margin-bottom: 7px;}
    }
    body.body-main &{display: block;}
}
@include media-breakpoint-down(md) {
    #footer{
        height: auto;padding-top: 0;
        .row{justify-content: center;flex-direction: column;}
        .footer-logo{
            margin-right: 0;
            .sns{
                .icon-kakao{background-image: url('../images/sns-kakao-000@3x.png');}
                .icon-blog{background-image: url('../images/sns-blog-000@3x.png');}
                .icon-instagram{background-image: url('../images/sns-insta-000@3x.png');}
                .icon-facebook{background-image: url('../images/sns-facebook-000@3x.png');}
            }
        }
        .footer-menu{
            padding: 0 35px;margin-top: 25px;overflow: hidden;
            li{float: left;width: 50%;margin-bottom: 20px;}
        }
        .copyright{
            padding: 0 18px;line-height: 1.45;
            span{display: inline-block;vertical-align: middle;margin-right: 5px;}
        }
    }
}
