body.body-main{
    #header{
        position: fixed;z-index: 1;width: 100%;transition: all .35s .3s ease-in-out;
    }
    #header .search{display: none;}
}
html.is-header-hidden{
    #header{transform: translateY(-150px);transition: all .35s ease-in-out;}
}
html.open-search{
    #header-block{position: static;}
}
@include media-breakpoint-down(md) {
    body.body-main{
        #header{
            position: static !important;transform: none !important;
        }
        #footer-block .dim{display: none !important;}
    }
}

#nav{
    position: fixed;right: 156px;top: 50%;z-index: 70;transform: translateY(-50%);
    ul{border-right: 1px solid #c7c7c7;text-align:right;}
    li{
        padding-right: 5px;position: relative;margin-top: 13px;
        a{color: #c7c7c7;}
    }
    li.active{
        //&::after{content: '';width: 3px;height: 100%;position: absolute;right: -2px;top: 0;background: $primary;}
        a{color: $primary;}
    }
    li:last-child{opacity: 0;
        visibility: hidden;
        display: none;}
    .bar{width: 3px;height: 20px;position: absolute;right: -1px;top: 0;background: $primary;transition: all .2s ease-in-out;margin-top: 13px;}
    &.is-last .bar{opacity: 0;top: 250px !important;}
}
@include media-breakpoint-down(xxl) {
    #nav{right: 60px;}
}
@include media-breakpoint-down(xl) {
    #nav{right: 25px;}
}
@include media-breakpoint-down(lg) {
    html.is-header-hidden #nav{top: 10%;}
}
@include media-breakpoint-down(md) {
    #nav{display: none;}
}

.tab + .play-list{margin-top: -30px;}
.play-list{
    position: relative;
    .swiper-button-prev{left: -92px;}
    .swiper-button-next{right: -92px;}
    .item{color: $gray-dark;position: relative;padding-top: 32px;}
    .recommend::before{content: '그립추천';background: #ffbf4f;color: #fff;border-radius: 8px 8px 0 0;font-weight: 500;padding: 6px 30px 0;position: absolute;left: 25px;top: 0;height: 32px;}
    .img{
        height: 0;padding-bottom: 100%;position: relative;border-radius: 8px;overflow: hidden;
        .thumb{position: absolute;}
        .d-day{width:90px;position: absolute;left: 15px;top: 15px;z-index: 1;text-align:center;
            &.end{background-color:#ddd;color:#fff;}
        }
        .share-area{position: absolute;right: 15px;top: 15px;z-index: 1;}
        @at-root{
            .on-air{width:6px;height:6px;display:inline-block;background-color:#e02020;
                border-radius: 50%;margin:0 3px 2px 0;
            }
            .live-time{position:absolute;top:50px;left:33px;font-size:14px;color:#fff;font-weight: bold;
                &.right{right:35px;left:inherit}
                &.center{left:50%;top:65%;transform:translate(-50%, 0)}
            }
        }
    }
    .info{padding: 10px;line-height: 1.5;}
    .subject{
        font-size: 19px;letter-spacing: -0.5px;padding-bottom: 10px;line-height: 1.45;position: relative;
        &::after{content: '';display: block;width: 60px;height: 1px;background:$gray-dark;position: absolute;left: 0;bottom: 0;}
        a{color: $gray-dark;vertical-align: middle;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;
        }
        .text-danger{font-size:12px;font-weight:500;margin-left:10px;}
    }
    .distance{font-size:12px;color:#ff0000;display:inline-block;margin-left:5px;}
    .club{letter-spacing: -0.42px;margin-top: 12px;}
    .play{font-size: 14px;margin-top: 6px;width: 90%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
    .date{font-size: 14px;margin-top: 4px;
        span{vertical-align: middle;margin-right: 15px;margin-left:5px;}
        .icon-calendar{transform: translateY(-2px);}
    }
    .host{
        margin-top: 12px;position: relative;
        .member{position:absolute;right:15px;}
    }
    .desc{margin-top:15px;display:flex;align-items: center;justify-content: space-between;}
    .people{
        color: #767676;
        p{font-size: 12px;margin-right: 5px;}
        strong{font-size: 19px;font-weight: 500;
            span{color:$primary;}
        }
    }
    .price{
       color: #767676;
        p{font-size: 12px;margin-right: 5px;}
        strong{font-size: 19px;font-weight: 500;}
    }
}
@include media-breakpoint-down(md) {
    .play-list{
        margin: 0 -15px;
        .swiper-slide{width: 252px !important;}
        .swiper-button-prev,
        .swiper-button-next{display: none;}
        .info{padding-left: 0;padding-right: 0;}
    }
}

#section4{
    .tab-content{min-height:382px}
}
.goods-list{
    position: relative;
    .thumb{height: 367px;border-radius: 10px;overflow: hidden;}
    .swiper-container{border-radius: 10px;overflow: hidden;}
    .swiper-button-prev{left: -92px;}
    .swiper-button-next{right: -92px;}
    .swiper-pagination{bottom: 20px;}
    .swiper-pagination-bullet{width: 10px;height: 10px;opacity: 0.4;}
    .swiper-pagination-bullet-active{opacity: 1;}
}
@include media-breakpoint-down(md) {
    #section4{
        .tab-content{min-height:376px}
    }
    .goods-list{
        margin: 0 -15px;padding: 0 15px;
        .thumb{height: 361px;}
        .swiper-button-prev,
        .swiper-button-next{display: none;}
    }
}

.product-list{
    position: relative;
    .swiper-slide{width: 280px !important;padding-bottom: 14px;}
    .swiper-button-prev{left: -92px;}
    .swiper-button-next{right: -92px;}
    .item{color: $gray-dark;position: relative;box-shadow: 5px 5px 14px 0 rgba(0, 0, 0, 0.04);}
    .img{
        height: 190px;position: relative;border-radius: 8px 8px 0 0;overflow: hidden;
        .deadline{
           display: inline-block;color: $primary;font-size: 9px;font-weight: 500;position: absolute;left: 0;bottom: 0;z-index: 1;
            padding: 6px 15px 6px 30px;margin: 0 -15px;
            &::before{
                content: '';position: absolute;top: 0; right: 0; bottom: 0; left: 0;z-index: -1;border-bottom: none;border-radius: 0 .5em 0 0;background: #fff;transform: scale(1.2, 1.3) perspective(.5em) rotateX(5deg);
            }
        }
        .share-area{position: absolute;right: 15px;top: 15px;z-index: 1;}
    }
    .info{padding: 15px;background-color: #fff;border-radius: 0 0 8px 8px;overflow: hidden;}
    .location{font-size: 12px;font-weight: 700;color: #b0b0b0;margin-bottom: 3px;margin-top: 2px;}
    .subject{
        display: flex;
        i{flex: 0 0 auto;margin: 4px 3px 0 0;}
        a{color: $gray-dark;line-height: 1.45;letter-spacing: -0.5px;}
    }
    .period{font-size: 12px;font-weight: 200;letter-spacing: -0.3px;color: $gray-dark;margin-top: 25px;}
    .price{
        display: flex;align-items: center;justify-content: space-between;border-top: 1px solid rgba(204, 204, 204, 0.3);padding-top: 7px;margin-top: 9px;
        .discount{
            flex: 0 1 auto;margin-right: 4px;
            em{font-size: 9px;font-weight: 400;color: $primary;display: block;}
            del{font-size: 12px;color: #c6c6c6;display: block;}
        }
        .total{font-size: 19px;flex: 1 1 100%;}
        .button{flex: 0 0 auto;
            .btn{height: 30px;padding-top: 4px;}
        }
    }
}
@include media-breakpoint-down(md) {
    .product-list{
        margin: 0 -15px;
        .swiper-button-prev,
        .swiper-button-next{display: none;}
        .price{
            .button{
                .btn{padding-top: 7px;}
            }
        }
    }
}

.region-wrap{margin-top: 70px;}
.region-list{
    position: relative;
    .swiper-slide{height: auto !important;}
    .thumb{
        height: 0;padding-bottom: 100%;border-radius: 7px;
        a{color: #fff;}
        .theme{width: 100%;position: absolute;z-index: 1;color: #fff;font-size: 19px;text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);line-height: 1.32;display: block;text-align: center;left: 50%;top: 50%;transform: translate(-50%,-50%);}
        &.large{
            .theme{font-size: 28px;}
        }
    }
    .description{
        margin-top: 15px;padding-bottom: 5px;
        strong{font-size: 19px;line-height: 1.4;font-weight: 500;color: $gray-dark;letter-spacing: -0.5px;}
        p{line-height: 1.38;color: $gray-dark;margin-top: 8px;}
    }
    .row{margin: -15px;}
    [class^=col]{padding: 15px;}
}
.region-nav{
    width: 195px;position: relative;
    &::before{content: '';display: block;width: 1px;background: #e7e7e7;position: absolute;left: 4px;top: 18px;bottom: 18px;}
    a{display: inline-block;border-radius: 50rem;padding: 6px 17px 6px;color: #a1a1a1;font-size: 19px;font-weight: 500;text-align: center;}
    .swiper-slide{
        padding-left: 20px;
        &::after{content: '';display: block;width: 9px;height: 9px;background: #e7e7e7;border-radius: 50%;position: absolute;left: 0;top: 50%;margin-top: -4.5px;}
    }
    .swiper-slide:last-of-type{margin-bottom: 0 !important;}
    .active{
        a{background: $primary;color: #fff;box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.12);}
        &::after{background: $primary;}
    }
}
@include media-breakpoint-down(md) {
    .region-wrap{margin-top: 20px;}
    .region-list{
        .description{
            padding-bottom: 3px;
            strong{font-size: 16px;}
            p{line-height: 1.57;margin-top: 5px;}
        }
        .row{margin: -7.5px;}
        [class^=col]{padding: 7.5px;}
    }
    .region-nav{
        width: auto;margin: 0 -15px 20px;
        &::before{display: none;}
        a{padding: 6px 17px 6px;font-size: 16px;}
        .swiper-slide{
            padding-left: 0;padding-top: 22px;width: auto !important;
            &::before{content: '';display: block;height: 1px;background: #e7e7e7;position: absolute;left: 0;top: 4px;right: 0;z-index: 0;}
            &::after{left: 50%;top: 0;margin-left: -4.5px;margin-top: 0;}
        }
        .swiper-slide:first-of-type::before{left: 50%;}
        .swiper-slide:last-of-type::before{left: 0;right: 50%;}

    }
}

.plan-list{
    margin-top: 70px;
    .row{margin: -10px;}
    [class^=col]{padding: 10px;}
    .item{
        height: 100%;
        > a{color: $gray-dark;}
        .thumb{
            height: 0;padding-bottom: 50%;border-radius: 7px;
            .layer{padding: 10px;position: absolute;z-index: 2;width: 100%;height: 100%;display: flex;flex-direction: column;align-items: center;justify-content: center;
                .badge-white{color: #a1a1a1;margin-bottom: 9px;}
                .tit{font-size: 19px;line-height: 1.16;color: #fff;font-weight: 400;text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);}
            }
        }
        .subject{font-size: 19px;font-weight: 400;margin-bottom: 5px;margin-top: 12px;letter-spacing: -0.5px;@include text-truncate();}
        .txt{@include text-truncate-multi(16px, 1.4, 2);color: $gray-dark;}
        &.large{
            .thumb{padding-bottom: 100%;}
            .txt{@include text-truncate-multi(16px, 1.4, 3);}
        }
    }
}
@include media-breakpoint-down(md) {
    .plan-list{
        margin-top: 40px;
        .item{
            .category{margin-bottom: 5px;margin-top: 12px;}
            .subject{font-size: 16px;margin-bottom: 5px;}
            .txt{@include text-truncate-multi(12px, 1.4, 2);}
            .date{font-size: 12px;}
            &.large{
                .txt{@include text-truncate-multi(12px, 1.4, 2);}
            }
        }
    }
}

#main{
    .container{padding-left: 92px;padding-right: 92px;position: relative;}
    .search{
        width: 442px;height: 35px;margin: 0 auto;position: relative;margin-top: 95px;
        a {width: 100%;height: 100%;display: block;color: #d3d3d3;letter-spacing: -0.6px; background-color: #f9f9f9;border: 1px solid #e4e4e4; border-radius: 30px; text-align: center;text-decoration: none;box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);}
        span{display: inline-block;vertical-align: top;line-height: 34px;height: 100%;letter-spacing: -0.6px;}
        span:before{content: '';display: inline-block;vertical-align: middle;width: 14px;height: 14px;background: url("../images/search.svg") no-repeat 0 0;margin-right: 9px;margin-top: -3px;}
    }
    .main-heading{
        text-align: center;
        strong{font-weight: 200;font-size: 40px;letter-spacing: -0.63px;color: #404142;display: block;}
        span{font-family: 'Gotham';font-size: 40px;font-weight: 100;letter-spacing: -1.25px;color: #404142;display: block;margin-top: 10px;}
    }
    .main-title{text-align: center;font-size: 32px;font-weight: 200;letter-spacing: -0.5px;line-height: 1.25;color: $gray-dark;}
    .main-desc{text-align: center;font-size: 19px;font-weight: 100;letter-spacing: -0.3px;color: $gray-dark;margin-top: 15px;}
    .main-more{text-align: right;margin-top: 20px;
        a{font-size: 19px;font-weight: 400;color: #a1a1a1;letter-spacing: -0.3px;vertical-align: middle;}
        i{vertical-align: middle;transform: translateY(-2px);margin-left: 5px;}
    }
    .main-img{text-align: center;}
    .section{height: 100vh;}
    .calendar-btn{padding: 0 100px;text-align: right;margin-top: 75px;}
    .tab{margin-bottom: 50px;margin-top: 18px;}
    .nav{justify-content: center;}
    .datepicker-area{margin-top: 75px;}
    .ui-datepicker.ui-datepicker-multi{
        width: 100% !important;height:410px;position: relative;padding: 0 50px;background: transparent;
        .ui-datepicker-group{padding:0 50px;}
        .ui-datepicker-header{background: transparent;margin-top: 0;position: static;border-bottom: 0;height: auto;padding-left: 0;margin-bottom: 30px;}
        .ui-datepicker-title{font-size: 28px;color: #4a4a4a;letter-spacing: -0.49px;line-height: 1;}
        .ui-datepicker-year{display: none;}
        .ui-datepicker-month{margin-right: 5px;}
        .ui-datepicker-month::after{content: '월';}
        .ui-state-default{font-size: 19px;}
        th{font-size: 16px;}
        td{
            height: 47px;padding: 0;
            span,
            a{border-radius: 1px !important;padding: 12px 0;}
        }
        tbody tr:nth-child(odd) td:not(.ui-state-disabled){background: rgba(188, 188, 188, 0.1);border-radius: 2px;}
        .ui-icon{width: 49px;height: 49px;}
        .ui-datepicker-prev{width: 49px;height: 49px;left: 0;top: 150px;}
        .ui-datepicker-next{width: 49px;height: 49px;right: 0;top: 150px;}
        .ui-datepicker-prev.ui-state-disabled,
        .ui-datepicker-next.ui-state-disabled{opacity: 0;}
    }
}
@include media-breakpoint-down(xl) {
    #main{
        .container{padding-left: 50px;padding-right: 50px;}
    }
}
@include media-breakpoint-down(md) {
    #main{
        .container{padding-left: 15px;padding-right: 15px;}
        .search{width: 300px;margin-top: 85px;margin-bottom: 85px;}
        .section{padding: 80px 0;height: auto !important;}
        .fp-tableCell{display: block;height: auto !important;}
        .main-heading{
            strong{font-size: 32px;line-height: 1.34;}
            span{font-size: 32px;margin-top: 30px;}
        }
        .main-title{font-size: 28px;line-height: 1.43;}
        .main-desc{line-height: 1.5;}
        .main-more{
            a{font-size: 16px;}
        }
        .datepicker-area{margin-top: 50px;}
        .ui-datepicker{
            background: transparent;
            .ui-datepicker-header{background: transparent;padding: 0;border-bottom: 0;}
            .ui-datepicker-year{display: none;}
            .ui-datepicker-month{margin-right: 5px;}
            .ui-datepicker-month::after{content: '월';}
            .ui-datepicker-prev{left: 80px;}
            .ui-datepicker-next{right: 80px;}
            .ui-state-default{padding: 8px;}
            tbody tr:nth-child(odd) td:not(.ui-state-disabled){background: rgba(188, 188, 188, 0.1);}
        }
        .calendar-btn{padding: 0;text-align: center;margin-top: 75px;}
    }
}
