<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>grip</title>
	<link rel="icon" href="../../resources/images/favicon-32.png" sizes="32x32">
    <link rel="icon" href="../../resources/images/favicon-128.png" sizes="128x128">
	<link rel="stylesheet" href="../../resources/plugin/swiper/css/swiper.min.css" />
	<link rel="stylesheet" href="../../resources/plugin/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="../../resources/plugin/fullpage/fullpage.css">
	<link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/style.css">
    
	<script src="../../resources/plugin/jquery/jquery.min.js"></script>
	<script src="../../resources/plugin/jquery-ui/jquery-ui.min.js"></script>
	<script src="../../resources/plugin/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../../resources/plugin/swiper/js/swiper.min.js"></script>
	<script src="../../resources/plugin/fullpage/fullpage.js"></script>
    <script src="../../resources/js/ui.js"></script>
    <style>
        .view-body h3{margin-bottom: 20px;color: #aaa;}
        .view-body > div + div{margin-top: 50px;}
        .t-img-wrap{margin-bottom: 15px;}
    </style>
</head>

<body>

<div id="wrap">
    <div id="header-block">
		<!-- header include -->
    </div>
    <div id="container-block">
        <div class="container">
            <div class="content">

                <div class="view-wrap">
                    <div class="view-header">
                        <h2 class="subject">캐디가 부담스러운 사람? 전국 노캐디 클럽</h2>
                        <div class="hash">#노캐디 #전국노캐디 #캐디선택 #캐디없이 #캐디</div>
                        <div>
                            <div class="date">2020.07.03 16:14</div>
                            <div class="hit">조회수 285</div>
                        </div>
                        <button type="button" class="share"><span class="sr-only">공유하기</span></button>
                    </div>

                    <div class="view-body">
                        <div>
                            <h3>Heading Text</h3>
                            <div class="t-heading-text">
                                지금 당장 가보세요!
                            </div>
                        </div>

                        <div>
                            <h3>경계선</h3>
                            <div class="t-br"></div>
                        </div>

                        <div>
                            <h3>Title Text</h3>
                            <div class="t-title-text">1. 싱글 플레이어! 베어크리크 춘천에서 모이자!</div>
                        </div>

                        <div>
                            <h3>본문 Text</h3>
                            <div class="t-paragraph-text">
                                앞서 포스팅해드린 바와 같이 수도권에는 9개의 노캐디 선택제 골프장이 운영 중입니다. 지역은 서울을 중심으로 북부권의 포천을 비롯하여 남동부권 광주/용인/이천/여주/안성입니다. 자세한 리스트는 이미지를 확인해주세요
                            </div>
                            <div class="t-paragraph-text">
                                안녕하세요 그립입니다. 수도권/강원도/충청권 노캐디 가능 골프장들에 대해 포스팅 했었는데, 전국의 노캐디 가능 골프장들에 대해 알려달라는 문의가 많으셔서 한번 시원하게 정리해봤습니다. 해당 골프장들은 노캐디 선택제로 운영되므로 운영사정 또는 시기에 따라 변경될 수 있는 점 참고해주시기 바랍니다. 그리고 비회원도 이용가능한 멤버십 골프장과 퍼블릭 골프장을 대상으로 조사한 자료이니, 회원제로만 운영되는 멤버십(회원제) 골프장은 조사 대상에서 제외된 점 양해 부탁 드립니다. 그럼 어디 한번 시원하게 둘러볼까요?
                            </div>
                        </div>

                        <div>
                            <h3>이미지 묶음</h3>
                            <div class="t-img-wrap">
                                <div class="row">
                                    <div class="col-12"><div class="t-img">
                                        <img src="../../resources/images/001_oakvalley_cc_01_main.png" alt="">
                                    </div></div>
                                </div>
                            </div>
                            <div class="t-img-wrap">
                                <div class="row">
                                    <div class="col-6"><div class="t-img">
                                        <img src="../../resources/images/001_oakvalley_cc_01_main.png" alt="">
                                    </div></div>
                                    <div class="col-6"><div class="t-img">
                                        <img src="../../resources/images/001_oakvalley_cc_01_main.png" alt="">
                                    </div></div>
                                </div>
                            </div>
                            <div class="t-img-wrap">
                                <div class="row">
                                    <div class="col-6 col-md-4"><div class="t-img">
                                        <img src="../../resources/images/001_oakvalley_cc_01_main.png" alt="">
                                    </div></div>
                                    <div class="col-6 col-md-4"><div class="t-img">
                                        <img src="../../resources/images/001_oakvalley_cc_01_main.png" alt="">
                                    </div></div>
                                    <div class="col-6 col-md-4"><div class="t-img">
                                        <img src="../../resources/images/001_oakvalley_cc_01_main.png" alt="">
                                    </div></div>
                                    <div class="col-6 col-md-4"><div class="t-img">
                                        <img src="../../resources/images/001_oakvalley_cc_01_main.png" alt="">
                                    </div></div>
                                    <div class="col-6 col-md-4"><div class="t-img">
                                        <img src="../../resources/images/001_oakvalley_cc_01_main.png" alt="">
                                    </div></div>
                                    <div class="col-6 col-md-4"><div class="t-img">
                                        <img src="../../resources/images/001_oakvalley_cc_01_main.png" alt="">
                                    </div></div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h3>카드형 - 클럽</h3>
                            <div class="club-list t-card">
                                <ul>
                                    <li>
                                        <div class="box">
                                            <div class="img">
                                                <a href="../club/detail.html" class="thumb">
                                                    <img src="../../resources/images/001_oakvalley_cc_02_card.png" alt="" onload="setDirection(this)" class="horizontal">
                                                </a>
                                            </div>
                                            <div class="summary">
                                                <div class="location">강원도 홍천군</div>
                                                <div class="name">
                                                    <a href="../club/detail.html" class="club">엘리시안 강촌 나인플러스 골프클럽</a>
                                                    <i class="distance">50km</i>
                                                    <div class="time">
                                                        <span>00:00</span>
                                                    </div>
                                                </div>
                                                <div class="type">멤버십클럽 (회원용) / 퍼블릭코스 (18H)</div>
                                                <div class="point">
                                                    <div class="rating">
                                                        <span>평점</span>
                                                        <i data-point="3.5">3.5</i>
                                                    </div>
                                                    <div class="level">
                                                        <span>난이도</span>
                                                        <i data-point="2.5">2.5</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="util">
                                                <div class="buttons">
                                                    <button type="button" class="like"><span class="sr-only">가고싶다</span></button>
                                                    <button type="button" class="share"><span class="sr-only">공유하기</span></button>
                                                </div>
                                                <div class="price">
                                                    <p>1인 그린피</p>
                                                    <strong>₩12,000 ~</strong>
                                                </div>
                                                <div class="reserv">
                                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-reservation">예약하기</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <h3>카드형 - 플레이</h3>
                            <div class="club-list t-card">
                                <ul>
                                    <li class="recommendation"> <!-- 그립추천 -->
                                        <div class="box">
                                            <div class="img">
                                                <a href="../play/play_join.html" class="thumb">
                                                    <img src="../../resources/images/001_oakvalley_cc_02_card.png" alt="" onload="setDirection(this)">
                                                    <span class="d-day">D-5day</span>
                                                </a>
                                            </div>
                                            <div class="summary">
                                                <div class="info">
                                                    <div class="name">
                                                        <a href="../play/play_join.html" class="subject">싱글 플레이어! 베어크리크 춘천에서 모이자!</a>
                                                    </div>
                                                    <div class="place">
                                                        <span class="club">베어크리크 춘천 컨트리클럽</span>
                                                        <span class="distance">55km</span>
                                                    </div>
                                                    <div class="play"><span class="text-primary">골프레슨</span> - 드라이빙레인지, 필드레슨(9H)</div>
                                                    <div class="date">
                                                        <i class="icon-calendar"></i> <span><em class="d-none d-sm-inline-block">시작일</em> 2020.05.05 06:00</span>
                                                        <i class="icon-personnel"></i> <span>4인</span>
                                                        <div class="host d-none d-sm-block"><!-- 주최자 pc용 -->
                                                            <div class="member">
                                                                <div class="profile">
                                                                    <span>
                                                                        <img src="../../resources/images/icon-male.png" alt="홍길동님">
                                                                    </span>
                                                                </div>
                                                                <div class="plus">
                                                                    <span>+1</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="util">
                                                <div class="buttons">
                                                    <button type="button" class="share"><span class="sr-only">공유하기</span></button>
                                                </div>
                                                <div class="price">
                                                    <p>1인 참가비</p>
                                                    <strong>₩45,000</strong>
                                                </div>
                                                <div class="reserv">
                                                    <a href="../play/play_join.html" class="btn btn-primary btn-sm">자세히 보기</a>
                                                </div>
                                                <div class="host d-sm-none"> <!-- 주최자 mobile용 -->
                                                    <div class="member">
                                                        <div class="profile">
                                                            <span>
                                                                <img src="../../resources/images/icon-male.png" alt="홍길동님">
                                                            </span>
                                                        </div>
                                                        <div class="plus">
                                                            <span>+1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <h3>카드형 - 큐레이션</h3>
                            <div class="club-list t-card">
                                <ul>
                                    <li>
                                        <div class="box">
                                            <div class="img">
                                                <a href="" class="thumb">
                                                    <img src="../../resources/images/001_oakvalley_cc_02_card.png" alt="" onload="setDirection(this)" class="horizontal">
                                                </a>
                                            </div>
                                            <div class="summary">
                                                <div class="location">강원도 홍천군</div>
                                                <div class="name">
                                                    <a href="" class="club">사계절 푸른 클럽 BEST 5</a>
                                                </div>
                                                <div class="hash">#3인클럽 #3인 #친구끼리</div>
                                                <div class="desc">제주는 사시사철 푸르른 라운딩을 즐길 수 있습니다. 이덕분에 세계 골프 대회가 많이 열린다죠~? </div>
                                            </div>
                                            <div class="util justify-content-start">
                                                <div class="buttons">
                                                    <button type="button" class="share"><span class="sr-only">공유하기</span></button>
                                                </div>
                                                <div class="hit">조회수 285</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="club-list t-card">
                                <ul>
                                    <li>
                                        <div class="box">
                                            <div class="img">
                                                <a href="" class="thumb">
                                                    <img src="../../resources/images/001_oakvalley_cc_02_card.png" alt="" onload="setDirection(this)" class="horizontal">
                                                </a>
                                            </div>
                                            <div class="summary">
                                                <div class="name">
                                                    <a href="" class="club">셋이 모여 갈 수 있는 곳?</a>
                                                </div>
                                                <div class="hash">#3인클럽 #3인 #친구끼리</div>
                                                <div class="desc">제주는 사시사철 푸르른 라운딩을 즐길 수 있습니다. 이덕분에 세계 골프 대회가 많이 열린다죠~? </div>
                                            </div>
                                            <div class="util justify-content-start">
                                                <div class="buttons">
                                                    <button type="button" class="share"><span class="sr-only">공유하기</span></button>
                                                </div>
                                                <div class="hit">조회수 285</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <h3>카드형 - 상품</h3>
                            <div class="club-list t-card">
                                <ul>
                                    <li>
                                        <div class="box">
                                            <div class="img">
                                                <a href="" class="thumb">
                                                    <img src="../../resources/images/001_oakvalley_cc_02_card.png" alt="" onload="setDirection(this)">
                                                </a>
                                                <strong class="deadline"><span class="d-none d-md-inline">특가마감</span> 24:05:09</strong>
                                            </div>
                                            <div class="summary">
                                                <div class="location">강원도 홍천군</div>
                                                <div class="name d-flex">
                                                    <i class="icon-lightning"></i>
                                                    <a href="" class="club">[엘리시안 강촌 나인플러스 골프클럽] <br class="d-none d-md-block">4인 그린피 50% 타임딜 특가</a>
                                                </div>
                                                <div class="period">100팀 한정</div>
                                            </div>
                                            <div class="util">
                                                <div class="buttons">
                                                    <button type="button" class="share"><span class="sr-only">공유하기</span></button>
                                                </div>
                                                <div class="price">
                                                    <div class="discount">
                                                        <em><span>99%</span> <i class="icon-discount"></i></em>
                                                        <del>₩1,112,000</del>
                                                    </div>
                                                    <div class="total">₩928,000</div>
                                                    <div class="reserv">
                                                        <a href="" class="btn btn-primary btn-sm">자세히 보기</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="club-list t-card">
                                <ul>
                                    <li>
                                        <div class="box">
                                            <div class="img">
                                                <a href="" class="thumb">
                                                    <img src="../../resources/images/001_oakvalley_cc_02_card.png" alt="" onload="setDirection(this)">
                                                </a>
                                                <strong class="deadline"><span class="d-none d-md-inline">특가마감</span> 24:05:09</strong>
                                            </div>
                                            <div class="summary">
                                                <div class="location">강원도 홍천군</div>
                                                <div class="name d-flex">
                                                    <i class="icon-bag"></i>
                                                    <a href="" class="club">1박 2일 골프 여행 70% 특가 <br class="d-none d-md-block">홍천CC 4인 + 리조트 + 낭랑 4ea</a>
                                                </div>
                                                <div class="period">100팀 한정</div>
                                            </div>
                                            <div class="util">
                                                <div class="buttons">
                                                    <button type="button" class="share"><span class="sr-only">공유하기</span></button>
                                                </div>
                                                <div class="price">
                                                    <div class="discount">
                                                        <em><span>99%</span> <i class="icon-discount"></i></em>
                                                        <del>₩1,112,000</del>
                                                    </div>
                                                    <div class="total">₩928,000</div>
                                                    <div class="reserv">
                                                        <a href="" class="btn btn-primary btn-sm">자세히 보기</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <h3>이벤트 이미지</h3>
                            <div class="t-event">
                                <div><img src="../../resources/images/@template1.jpg" alt=""></div>
                                <div><a href=""><img src="../../resources/images/@template2.jpg" alt=""></a></div>
                            </div>
                        </div>

                        <div>
                            <h3>버튼</h3>
                            <div class="t-button">
                                <a href="#none" class="btn btn-primary">플레이 만들기</a>
                            </div>
                        </div>
                    </div>


                    <div class="view-footer">
                        <div class="hash">
                            #노캐디 #전국노캐디 #캐디선택 #캐디없이 #캐디#노캐디 #전국노캐디 #캐디선택 #캐디없이 #캐디
                        </div>
                        <div class="subtitle-area">
                            <div class="subtitle">댓글</div>
                        </div>
                        <div class="reply">
                            <ul>
                                <li>
                                    <div class="q">
                                        <div class="user">
                                            <div class="profile">
                                                <span>
                                                    <img src="../../resources/images/icon-male.png" alt="홍길동">
                                                </span>
                                            </div>
                                            <div class="name">홍길동</div>
                                        </div>
                                        <div class="msg">
                                            <div class="text">노캐디면 모노레일인가요? 아니면 셀프카드로 이동하나요? 노캐디면 모노레일인가요? 아니면 셀프카드로 이동하나요?</div>
                                            <div class="date">2019.03.08 12:02</div>
                                            <a href="javascript:;" class="go">답글달기</a>
                                        </div>
                                        <div class="more-toggle">
                                            <a href="javascript:;"><i><span class="sr-only">더보기</span></i></a>
                                            <ul>
                                                <li><a href="javascript:;">수정하기</a></li>
                                                <li><a href="javascript:;" class="text-danger" data-id="btn-review-delete">삭제하기</a></li>
                                                <li><a href="javascript:;" class="text-danger" data-toggle="modal" data-target="#modal-review-declaration">신고하기</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="a show"> <!-- 답변 있을때 .show -->
                                        <div class="bg">
                                            <div class="reply-form-frame">
                                                <input type="text" placeholder="답글을 달아보세요!" class="form-control"></input>
                                                <button type="button" class="btn btn-primary btn-text-sm">등록</button>
                                            </div>
                                            <div class="re">
                                                <div class="user">
                                                    <div class="profile">
                                                        <span>
                                                            <img src="../../resources/images/icon-male.png" alt="홍길동">
                                                        </span>
                                                    </div>
                                                    <div class="name">홍길동</div>
                                                </div>
                                                <div class="msg">
                                                    <div class="text">모노레일로 이동합니다</div>
                                                    <div class="date">2019.03.08 12:02</div>
                                                </div>
                                                <div class="more-toggle">
                                                    <a href="javascript:;"><i><span class="sr-only">더보기</span></i></a>
                                                    <ul>
                                                        <li><a href="javascript:;">수정하기</a></li>
                                                        <li><a href="javascript:;" class="text-danger" data-id="btn-review-delete">삭제하기</a></li>
                                                        <li><a href="javascript:;" class="text-danger" data-toggle="modal" data-target="#modal-review-declaration">신고하기</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="re">
                                                <div class="user">
                                                    <div class="profile">
                                                        <span>
                                                            <img src="../../resources/images/icon-male.png" alt="홍길동">
                                                        </span>
                                                    </div>
                                                    <div class="name">홍길동</div>
                                                </div>
                                                <div class="msg">
                                                    <div class="text">답변을 두번 달수 있나요</div>
                                                    <div class="date">2019.03.08 12:02</div>
                                                </div>
                                                <div class="more-toggle">
                                                    <a href="javascript:;"><i><span class="sr-only">더보기</span></i></a>
                                                    <ul>
                                                        <li><a href="javascript:;">수정하기</a></li>
                                                        <li><a href="javascript:;" class="text-danger" data-id="btn-review-delete">삭제하기</a></li>
                                                        <li><a href="javascript:;" class="text-danger" data-toggle="modal" data-target="#modal-review-declaration">신고하기</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="q">
                                        <div class="user">
                                            <div class="profile">
                                                <span>
                                                    <img src="../../resources/images/icon-male.png" alt="홍길동">
                                                </span>
                                            </div>
                                            <div class="name">홍길동</div>
                                        </div>
                                        <div class="msg">
                                            <div class="text">노캐디면 모노레일인가요? 아니면 셀프카드로 이동하나요?</div>
                                            <div class="date">2019.03.08 12:02</div>
                                            <a href="javascript:;" class="go">답글달기</a>
                                        </div>
                                    </div>
                                    <div class="a">
                                        <div class="bg">
                                            <div class="reply-form-frame">
                                                <input type="text" placeholder="답글을 달아보세요!" class="form-control"></input>
                                                <button type="button" class="btn btn-primary btn-text-sm">등록</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="reply-form">
                            <div class="reply-form-frame">
                                <textarea name="" id="" cols="" rows="" placeholder="포스팅 어떠셨나요? 댓글을 남겨주세요~!" class="form-control" data-byte-target="#textarea-check"></textarea>
                                <button type="button" class="btn btn-primary btn-text-sm">등록</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
		</div>
    </div>
    <div id="footer-block">
        <!-- footer include -->
    </div>
</div>

<script>
    $(document).ready(function(){
        //답글달기 toggle
        $(document).on('click','.reply .go',function(){
            var $a = $(this).closest('li').find('.a');
            var $form = $a.find('.reply-form-frame');

            if(!$a.hasClass('show')){ //답변 영역 닫혀 있을때
                if(!$form.hasClass('active')){
                    $a.addClass('show');
                    $form.addClass('active');
                }
            }else{ //답변 영역 열려 있을때
                if(!$form.hasClass('active')){
                    $form.addClass('active');
                }else{
                    if($a.find('.re').length == 0){
                        $a.removeClass('show');
                        $form.removeClass('active');
                    }
                    else{
                        $form.removeClass('active');
                    }
                }
            }
        });
    });
</script>

</body>
</html>